1)
Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The result format is in the following example.

Example 1:

Input: 
Activities table:
+------------+------------+
| sell_date  | product     |
+------------+------------+
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |
+------------+------------+
Output: 
+------------+----------+------------------------------+
| sell_date  | num_sold | products                     |
+------------+----------+------------------------------+
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |
+------------+----------+------------------------------+

#### SQL

select sell_date,count(distinct products) as num_sold,group_concat(distinct product order by product) as products
from Activities
group by sell_date
order by sell_date

#### Pandas

import pandas as pd

data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]

df = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

result_df = df.groupby('sell_date')['product'].agg(['nunique', lambda x: ', '.join(sorted(x.unique()))]).reset_index()

###### Rename columns for better readability
result_df.columns = ['sell_date', 'num_sold', 'products']

###### Print the result
print(result_df)

2)
Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.
Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Products table:
+-------------+-----------------------+------------------+
| product_id  | product_name          | product_category |
+-------------+-----------------------+------------------+
| 1           | Leetcode Solutions    | Book             |
| 2           | Jewels of Stringology | Book             |
| 3           | HP                    | Laptop           |
| 4           | Lenovo                | Laptop           |
| 5           | Leetcode Kit          | T-shirt          |
+-------------+-----------------------+------------------+
Orders table:
+--------------+--------------+----------+
| product_id   | order_date   | unit     |
+--------------+--------------+----------+
| 1            | 2020-02-05   | 60       |
| 1            | 2020-02-10   | 70       |
| 2            | 2020-01-18   | 30       |
| 2            | 2020-02-11   | 80       |
| 3            | 2020-02-17   | 2        |
| 3            | 2020-02-24   | 3        |
| 4            | 2020-03-01   | 20       |
| 4            | 2020-03-04   | 30       |
| 4            | 2020-03-04   | 60       |
| 5            | 2020-02-25   | 50       |
| 5            | 2020-02-27   | 50       |
| 5            | 2020-03-01   | 50       |
+--------------+--------------+----------+
Output: 
+--------------------+---------+
| product_name       | unit    |
+--------------------+---------+
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |
+--------------------+---------+

#### SQL

select product_name,unit from  
(select p.product_id, p.product_name as product_name, sum(o.unit) as unit from Products p
left join Orders o
on 
p.product_id=o.product_id
where order_date between
'2020-02-01' and '2020-02-29' 
group by p.product_id,p.product_name) a
where unit>=100

#### Pandas

import pandas as pd

###### Sample input data
products_data = {'product_id': [1, 2, 3, 4, 5],
                 'product_name': ['Leetcode Solutions', 'Jewels of Stringology', 'HP', 'Lenovo', 'Leetcode Kit'],
                 'product_category': ['Book', 'Book', 'Laptop', 'Laptop', 'T-shirt']}
orders_data = {'product_id': [1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5],
               'order_date': ['2020-02-05', '2020-02-10', '2020-01-18', '2020-02-11', '2020-02-17', '2020-02-24',
                              '2020-03-01', '2020-03-04', '2020-03-04', '2020-02-25', '2020-02-27', '2020-03-01'],
               'unit': [60, 70, 30, 80, 2, 3, 20, 30, 60, 50, 50, 50]}
products_df = pd.DataFrame(products_data)
orders_df = pd.DataFrame(orders_data)

###### Merge the Products and Orders tables on 'product_id'
merged_df = pd.merge(products_df, orders_df, on='product_id')

###### Filter for February 2020 and group by product_name, then sum the units
result_df = merged_df[merged_df['order_date'].between('2020-02-01', '2020-02-29')].groupby('product_name')['unit'].sum().reset_index()

###### Filter products with at least 100 units
result_df = result_df[result_df['unit'] >= 100]

###### Print the result
print(result_df)

3)
Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
The domain is '@leetcode.com'.
Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 2       | Jonathan  | jonathanisgreat         |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
| 5       | Marwan    | quarz#2020@leetcode.com |
| 6       | David     | david69@gmail.com       |
| 7       | Shapiro   | .shapo@leetcode.com     |
+---------+-----------+-------------------------+
Output: 
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
+---------+-----------+-------------------------+

#### SQL

SELECT *
FROM Users
WHERE mail REGEXP '^[a-zA-Z][a-zA-Z0-9_.-]*@leetcode\\.com$';

#### Pandas

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    pattern = r'^[a-zA-Z][a-zA-Z0-9_.-]*@leetcode\.com$'
    filter = users['mail'].str.match(pattern)
    df = users[filter]
    return df

4)
Find the IDs of the employees whose salary is strictly less than $30000 and whose manager left the company. When a manager leaves the company, their information is deleted from the Employees table, but the reports still have their manager_id set to the manager that left.

Return the result table ordered by employee_id.

The result format is in the following example.

 

Example 1:

Input:  
Employees table:
+-------------+-----------+------------+--------+
| employee_id | name      | manager_id | salary |
+-------------+-----------+------------+--------+
| 3           | Mila      | 9          | 60301  |
| 12          | Antonella | null       | 31000  |
| 13          | Emery     | null       | 67084  |
| 1           | Kalel     | 11         | 21241  |
| 9           | Mikaela   | null       | 50937  |
| 11          | Joziah    | 6          | 28485  |
+-------------+-----------+------------+--------+
Output: 
+-------------+
| employee_id |
+-------------+
| 11          |
+-------------+

#### SQL

select employee_id from employees 
where 
salary <30000 and
manager_id not in 
(select employee_id from employees)
order by employee_id

#### Pandas

import pandas as pd

def find_employees(employees: pd.DataFrame) -> pd.DataFrame:
    return employees[~(employees["manager_id"].isin(employees["employee_id"])) & 
    (employees["salary"] < 30000)].dropna()[["employee_id"]]\
    .sort_values(by="employee_id",ascending=True)